@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('https://i.pinimg.com/736x/b9/fa/79/b9fa792566057d994c7f0f9e7bb1efa7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Make sure the video is behind other content */
}

.backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire area */
    transform: translate(-50%, -50%);
}